@import "../node_modules/bulma/bulma.sass";

.container {
    background-color: #f8f8f8;
}

.space-bottom {
    margin-bottom: $block-spacing;
}

.space-right {
    margin-right: $block-spacing;
}

.space-only-right {
    margin: 0 $block-spacing 0 0 !important;
}

.balance-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}